* {
    margin: 0;
    padding: 0;
}

/* 
body {
    text-align: center;
} */

.container {
    /* border: 1px solid purple; */
    width: 840px;
    height: 2090px;
    text-align: center;
    margin-top: 18rem;
    margin-left: 18rem;
}

 .heading {
    font-size: 23px;
    margin-bottom: 2rem;
}

.img-description {
    text-align: left;
    color: white;
    font-size: 17px;
}

.section {
    background-color: rgba(35, 27, 33, 0.25);
    height: 1250px;
    width: 805px;
    /* border: 1px solid blue; */
    margin-top: 4.5rem;
    margin: 1rem; 
    box-shadow: 20px 20px 30px black;
}

.subtitle {
    text-align: center;
    /* border: 1px solid red; */
    margin: 1.5rem;
    margin-top: 2.5rem;  
    font-size: 26px;
    color: white;
    text-shadow:4px 4px 8px white;
}

#description {
    text-align: left;
    /* border: 1px solid yellow; */
    margin-top: 2rem;
    margin: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

.p-style {
    font-weight: 850;
}
